
.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.all-items {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(181, 109, 121);
}

.container-input {
    border: 2px solid pink;
    width: auto;
    height: auto;
    margin-top:3vh ;
    display: flex;
    margin-bottom: 10%;
}
.sss {
    padding:"96px";
    width:"30px";
    height:"30px";
}

.cont-fetch {
    display: block;
}